{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="/product/list/filter/" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control">
                    <option selected disabled>--Select A Variant--</option>
                        {% for variant in variants%}
                        <optgroup label="{{variant.title}}">
                            {% for product_variant in product_variants %}
                                {% if product_variant.variant == variant %}
                                    <option value="{{product_variant.id}}">{{product_variant.variant_title}}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.title}}<br> Created at : 25-Aug-2020</td>
                            <td>{{product.description}}</td>
                            <td>
                                {% for  product_variant_price in product_variant_prices %}
                                    {% if product_variant_price.product == product %}
                                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                            <dt class="col-sm-3 pb-0">
                                                {{product_variant_price.product_variant_one.variant_title}}/ 
                                                {{product_variant_price.product_variant_two.variant_title}}/ 
                                                {{product_variant_price.product_variant_three.variant_title}}
                                            </dt>
                                            <dd class="col-sm-9">
                                                <dl class="row mb-0">
                                                    <dt class="col-sm-4 pb-0">{{product_variant_price.price}}</dt>
                                                    <dd class="col-sm-8 pb-0">{{product_variant_price.stock}}</dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                                <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                                </button>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="" class="btn btn-success">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{product_from}} to {{product_to}} out of {{total_product}}</p>
            </div>
            <div class="col-md-2">
                {% if pagination_type == 'all_product_view' %}
                    {% if previous_page %}
                        <a href="/product/list/page{{previous_page}}/"><</a>
                    {% endif %}
                    {% for page_number in pagination %}
                        <a href="/product/list/page{{page_number}}/">{{page_number}}</a>
                    {% endfor %}
                    {% if next_page %}
                        <a href="/product/list/page{{next_page}}/">></a>
                    {% endif %}
                {% elif pagination_type == 'filtered_product_view' %}
                    {% if previous_page %}
                        <a href="/product/list/filter/{{title|default_if_none:'-'}}/{{price_from|default_if_none:0}}/{{price_to|default_if_none:0}}/{{date|default_if_none:'-'}}/{{previous_page}}/"><</a>
                    {% endif %}
                    {% for page_number in pagination %}
                        <a href="/product/list/filter/{{title|default_if_none:'-'}}/{{price_from|default_if_none:0}}/{{price_to|default_if_none:0}}/{{date|default_if_none:'-'}}/{{page_number}}/">{{page_number}}</a>
                    {% endfor %}
                    {% if next_page %}
                    <a href="/product/list/filter/{{title|default_if_none:'-'}}/{{price_from|default_if_none:0}}/{{price_to|default_if_none:0}}/{{date|default_if_none:'-'}}/{{next_page}}/">></a>
                    {% endif %}        
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}